body {
    background-color: #0f0d14;
    color: white;
    font-family: monospace;
}

#vragen {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

button {
    background-color: rgba(73, 70, 65, 0.466);
    color: white;
    border: solid;
    border-width: 2px;
    border-color: white;
    margin: 5px;
    text-decoration: none;
    border-radius: 15px;
    width: 200px;
    height: 100px;
}

button:hover {
    background-color: gray;
    border-color: rgb(185, 60, 46);
    cursor: pointer;
}

button:active {
    transform: translateY(10px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

input,
label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    height: 50px;
    text-align: center;
}

#vragenpositie {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

input {
    color: white;
    background-color: rgba(64, 64, 64, 0.226);
    font-size: 20px;
    border: solid;
    border-width: 10px;
    margin: 5px;
    border-radius: 15px;
}

input:focus {
    background-color: rgb(120, 120, 120);
}

.dot {
    display: flex;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}